<% content_for :title do %>Zombie FLOSS<% end %>
<% content_for :description do %>Resources for the <strike>Zombie</strike> Open Source Survival Guide<% end %>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
      <div class="item active">
        <%= link_to image_tag("http://lorempixel.com/1270/800/business/10"), page_path('irc') %>
        <!-- <img src="http://lorempixel.com/1270/800/business/10">  -->
        <div class="carousel-caption text-center">
          <h4>Communication: IRC and Gitter</h4>
        </div>
      </div>
      <div class="item">
        <%= link_to image_tag("https://www.flickr.com/photos/joe3po/5115925583/in/photolist-8K1iYi-8N5srv-cBLNx5-6XE6hs-dMMWjA-fcxhp-j4JS8-DxRFt-fMVs2m-5ywh-57DWGU-ipQjMx-oCG1XT-owSQTK-aftrS9-5EUoka-eyHAiT-4os2Cq-3bMaRN-GDkHG-6qzhY8-55HCFp-4tjfPi-NqGXA-6xWaS7-6mSLqZ-geejBP-6UfAku-c682FU-7RnhAJ-8NAw3q-aPVTqB-95tUYK-dosynt-zidjz-cJcA7j-96BrQT-isCG8K-7QrhCF-8cYJzC-7KwN9B-4F9Pmx-4Fe4Ro-kCNdym-kCNdNj-4ubLy1-81viGr-7QuBpN-7QrhPZ-7QuBRJ/"), page_path('git') %>
        <div class="carousel-caption text-center">
          <h4>Weapons: Git</h4>
        </div>
      </div>
      <div class="item">
        <img src="http://lorempixel.com/1270/800/cats/4">
        <div class="carousel-caption text-center">
          <h4>Shelter: GitHub</h4>
        </div>
      </div>
      <div class="item">
        <img src="http://lorempixel.com/1270/800/cats/6">
        <div class="carousel-caption text-center">
          <h4>Society: Cons and Meetups, incl. Seattle Hackers and Open Source Calendar</h4>
        </div>
      </div>
    </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></a>
  </div>