<h2>Come find me on</h2>
<h3>Twitter: <a href="https://twitter.com/edupunkn00b">@edupunkn00b</a></h3>
<h3>GitHub: <a href="https://github.com/JaimeLynSchatz">JaimeLynSchatz</a></h3>
<h3>Email: <a mailto:"jaimelynschatz@gmail.com">jaimelynschatz@gmail.com</a></h3>