<h1>Git</h1>
<h3><a href="http://git-scm.com/downloads">Install Git</a></h3>
<h1>git clone</h1>
<h1>git add</h1>
<h1>git commit</h1>
<h1>git push</h1>
<h1>git pull</h1>
<h3><%= link_to 'Future Steps', page_path('git_details') %></h3>
