<h2>Git</h2>
<h3>First Steps:
	<p><a target="_blank" href="http://git-scm.com/downloads">Install Git *</a></h3></p>
	<p><a target="_blank" href="https://help.github.com/articles/set-up-git/">Set Up Git</p>

<h3>Next Step: Basic Commands - the ol' 80/20</h3>
	<p>git clone</p>
	<ul>
		<li>
		<span class="code_font">$ git clone "https://github.com/JaimeLynSchatz/fan_fic.git"</span>
		</li>
		<li>
	<a target="_blank" ref="https://github.com/JaimeLynSchatz/fan_fic.git">Our fan_fic repo on GitHub</a>
		</li>
	</ul>

	<p>git add</p>
	<ul>
		<li>
			Git add is both for adding links to external repos to your workspace as in:<br />
			<span class="code_font">$ git add remote -u "your remote repo here"</span><br />
		</li>
		<li>
			We'll use git add again to add our changes to the repo<br />
		</li>
	</ul>
<p>* If you're on a Mac, check your OS version. If it's < 10.7, use the downloads <a target="_blank" href="https://code.google.com/p/git-osx-installer/">here</a>
<h3><%= link_to 'Up Next: Commit and Add Your Changes', page_path('git_commit') %></h3>
			