<h2>Git</h2>
<h3>First Step: <a target="_blank" href="http://git-scm.com/downloads">Install Git</a></h3>

<h3>Next Step: Basic Commands - the ol' 80/20</h3>
<div class="container">
	<div class="row">

		<section class="col-md-6">
			<p><strong>git clone</strong> for copying an existing external repo</p>
			<span class="code_font">$ git clone "https://github.com/JaimeLynSchatz/fan_fic.git"</span>
			<a htarget="_blank" ref="https://github.com/JaimeLynSchatz/fan_fic.git">Our fan_fic repo on GitHub</a>
		</section>
		<section class="col-md-6">
			<p><strong>git add</strong></p>
			Git add is both for adding links to external repos to your workspace as in:
			<span class="code_font">$ git add remote</span>
			And you use <span class="code_font">git add</span> when adding new or changed files to git
		</section>
	</div>

	<div class="row">
		<section class="col-md-6">
			<p><strong>git commit</strong> </p>
			<a target="_blank" href="https://konversation.kde.org/">Konversation</a>
		</section>
		<section class="col-md-6">
			<h4>git push</h4>
				<a target="_blank" href="http://www.mirc.com/install.html">mIRC</a>
		</section>
	</div>
	
	<div class="row">
		<section class="col-md-6">
			<h4>git pull</h4>
			<a target="_blank" href="http://colloquy.info/downloads.html">Colloquy</a>
		</section>
		<section class="col-md-6">
			<h4>git status</h4>
			<a target="_blank" href="">some link here?</a>
		</section>
	</div>

</div>

<h3><%= link_to 'Future Steps', page_path('git_details') %></h3>
