<h2><%= link_to 'Back to Git', page_path('git') %> | Make a Commitment</h2>
<p>git status</p>
<ul>
	<li>
		Typing:<br />
		<span class="code_font">$ git status</span><br />
		will show you where you are in the git process
	</li>
</ul>
<p>git add --again!</p>
<ul>
	<li>
		Add specific files by name or use
	</li>
	<li>
		<span class="code_font">$ git add . </span> or <span class="code_font">$ git add -A</span>
	</li>
</ul>
<p>git commit</p>
	<ul>
		<li>After each <span class="code_font"> git add </span>, commit your change with a message</li>
		<li><span class="code_font">$ git commit -m "clever and informative commit message here" </span>
		</li>
	</ul>
<p>git push</p>
	<ul>
		<li>Make it real by pushing your changes upstream to the repo</li>
		<li><span class="code_font">$ git push origin master </span></li>
	</ul>
<p>git pull</p>
	<ul>
		<li>Use <span class="code_font"> $ git pull </span> when you want to pull in other people's changes from the main repo.</li>
	</ul>

<h3><%= link_to 'Future Steps', page_path('git_details') %></h3>
