<h3>Future Steps</h3>
<p><a href="http://alistapart.com/blog/post/personalizing-git-with-aliases/">Personalize Your Git Commands with Aliases</h3></p>
<p><a href="https://www.udacity.com/course/ud775?utm_source=t.co&utm_medium=social&utm_campaign=update">Udacity course on Git + GitHub</a> Ignore the sales pitch and take the free option! ;)</p>
<p><a href="https://www.codeschool.com/courses/git-real">Code School's Git Real</a> The first course is free and will get you off on a good start</p>