<h1>git clone</h1>
<h1>git add</h1>
<h1>git commit</h1>
<h1>git push</h1>
<h1>git pull</h1>
<h3>Future Steps</h3>
<a href="http://alistapart.com/blog/post/personalizing-git-with-aliases/">Personalize Your Git Commands with Aliases</h3>