<h2>GitHub</h2>
<p>GitHub gives developers both a place to store and share their code. We can use the <a target="_blank" href="https://github.com/JaimeLynSchatz/zombie-floss/issues">Issue Tracker</a> to submit bugs or keep up on changes in our own open source projects.</p><br /> 
<p>You can even <a target="_blank" href="https://github.com/JaimeLynSchatz/zombie-floss/blob/master/app/views/pages/github.html.erb">edit files</a> directly on the website.</p><br />
<p>Let's make a detour to <a target="_blank" href="https://github.com">GitHub</a> and get setup over there.</p>
<br />
<p>After you've set up your GitHub account, you're ready to <a target="_blank" href="https://help.github.com/articles/fork-a-repo/">fork a project</a>!</p>
<br />
<p>A Bit about <a target="_blank" href="https://gitter.im/JaimeLynSchatz/fan_fic">Gitter</a></p>
<p>Gitter is a sweet little app that allows you to create IRC-style chat rooms based around a GitHub repository. The link above will take you to the Gitter room for our fan_fic repo.</p>
<br />
<p>We have almost everything we need to survive. We have our communication tools, we have shelter and we've even found some <s>zombies</s> source code. Next up? Weapons. Our weapon of choice will be <%= link_to 'Git', page_path('git') %>.</p>