<h2>GitHub</h2>
<p>GitHub gives developers both a place to store and share their code. We can use the <a href="https://github.com/JaimeLynSchatz/zombie-floss/issues">Issue Tracker</a> to submit bugs or keep up on changes in our own open source projects.</p><br /> 
<p>You can even <a href="https://github.com/JaimeLynSchatz/zombie-floss/blob/master/app/views/pages/github.html.erb">edit files</a> directly on the website.</p><br />
<p>Let's make a detour to <a href="https://github.com">GitHub</a> and get setup over there.</p>
<p><a href="https://github.com">