<h2>In Case of Emergency</h2>
<p>Here are some kittens from Flickr.</p>
<%= image_tag('kittens.jpg') %>
<%= link_to 'more kitties', 'https://www.flickr.com/search?sort=relevance&license=4%2C5%2C6&text=kittens' %>
