<h2>In Case of Emergency</h2>
<p>Just in case we lose our internet connection, here's a page of pretty flowers to look at while we chat</p>
<p>A flower from Wikimedia Commons
<img src="https://upload.wikimedia.org/wikipedia/commons/2/24/Swallowtail_butterfly_and_lavender_flowers_th.jpg"></img></p>
<p>By Stella Vješnica (My own work.) [GFDL (http://www.gnu.org/copyleft/fdl.html) or CC-BY-SA-3.0 (http://creativecommons.org/licenses/by-sa/3.0)], via Wikimedia Commons</p>
<p>More pictures can be found on <a href="https://commons.wikimedia.org/w/index.php?search=thumbnail+flowers&title=Special%3ASearch&go=Go">Wikimedia Commons</a>.</p>