<div class="jumbotron">
  <h1>IRC and Gitter</h1>
  <p>IRC (or Internet Relay Chat) has been around since and it's still used all over the world.</p>
  <h3>Get an IRC Client</h3>
<div class="container">
	<div class="row">
		<section class="col-md-6">
			<h4>Browser-Based</h4>
<a href="https://addons.mozilla.org/en-US/firefox/addon/chatzilla/">Chatzilla for Firefox (all)</a>
		</section>
		<section class="col-md-6">
			<h4>Multiplatform</h4>
				<a href="http://xchat.org/download/">XChat (for Lin and Win)</a>
		</section>
	<div class="row">
		<section class="col-md-6">
			<h4>Linux</h4>
				<a href="https://konversation.kde.org/">Konversation</a>
		</section>
		<section class="col-md-6">
			<h4>Windows</h4>
				<a href="http://www.mirc.com/install.html">mIRC</a>
		</section>
	</div>
	<div class="row">
		<section class="col-md-6">
			<h4>Mac</h4>
				<a href="http://colloquy.info/downloads.html">Colloquy</a>
		</section>
	</div>
</div>
<h3>Future Steps</h3>
<h4>Register your chosen nickname on the server.</h4>
<a href="http://freenode.net/faq.shtml#userregistration">Freenode</a>
<h4>Check out other clients</h4>
<a href="http://convos.by/">Convos</a>
<a href="https://en.wikipedia.org/wiki/Comparison_of_Internet_Relay_Chat_clients">Wikipedia IRC client comparison</a>
<a href="http://alistapart.com/blog/post/personalizing-git-with-aliases/">For future stuff in Git - Git aliases FTW!</a>
  <p>Blurb about Gitter</p>