<div class="jumbotron">
  <h2>IRC and Gitter</h2>
  <p>IRC (or Internet Relay Chat) has been around since the '80s and it's still used all over the world.</p>
  <h3>First Step: Get an IRC Client or Skip to <%= link_to '"Webchat"', page_path('webchat') %></h3>
<div class="container">
	<div class="row">

		<section class="col-md-4">
			<h4>Browser-Based</h4>
			<a htarget="_blank" ref="https://addons.mozilla.org/en-US/firefox/addon/chatzilla/">Chatzilla for Firefox (requires browser restart)</a>
		</section>
		<section class="col-md-4">
			<h4>Multiplatform</h4>
				<a target="_blank" href="http://xchat.org/download/">XChat (for Lin and Win)</a>
		</section>
	</div>

	<div class="row">
		<section class="col-md-4">
			<h4>Linux</h4>
			<a target="_blank" href="https://konversation.kde.org/">Konversation</a>
		</section>
		<section class="col-md-4">
			<h4>Windows</h4>
				<a target="_blank" href="http://www.mirc.com/install.html">mIRC</a>
		</section>
		<section class="col-md-4">
			<h4>Mac</h4>
			<a target="_blank" href="http://colloquy.info/downloads.html">Colloquy</a>
		</section>
	</div>

</div>
<h3>Next Steps: Join a Channel</h3>
<p>In Firefox (with the built-in IRC client installed), visit <a target="_blank" href="webchat.freenode.net/?channels=#zombie-floss">webchat.freenode.net/?channels=#zombie-floss</a>
<p>Many open source projects have IRC rooms associated with them. A few are listed below. Check the websites for projects you're interested in to find more! To join one of these, select or enter the freenode server and use the command <span class="code_font"> /join #channel_or_room_name </span></p>
<ul>
	<li>
		irc.freenode.org/#new2ruby
	</li>
	<li>
		irc.freenode.org/#openhatch, with helpful wiki at <a target="_blank" href="https://openhatch.org/wiki/Contact">https://openhatch.org/wiki/Contact</a>
	</li>
	<li>
		Wikimedia has such a tremendouse presence on IRC that they've an entire <a target="_blank" href="meta.wikimedia.org/wiki/IRC/Channels">wiki</a> devoted to cataloging all of their channels.
	</li>
</ul>
<h3><%= link_to 'Future Steps', page_path('irc_details') %></h3>