<div class="jumbotron">
  <h1>IRC and Gitter</h1>
  <p>IRC (or Internet Relay Chat) has been around since and it's still used all over the world.</p>
  <p>Blurb about Gitter</p>
  <p><%= link_to 'page/irc_details' %><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
  <!-- <%= image_tag "many_flowers.jpg" %> -->
  <!-- here's how you link to a picture from the app/assets/images directory -->
</div>
