<h3>Get an IRC Client</h3>
<h4>Browser-Based</h4>
<a href="https://addons.mozilla.org/en-US/firefox/addon/chatzilla/">Chatzilla for Firefox (all)</a>
<h4>Linux</h4>
<a href="https://konversation.kde.org/">Konversation</a>
<h4>Windows</h4>
<a href="http://www.mirc.com/install.html">mIRC</a>
<h4>Mac</h4>
<a href="http://colloquy.info/downloads.html">Colloquy</a>
<h4>Multiplatform</h4>
<a href="http://xchat.org/download/">XChat (for Lin and Win)</a>
<h3>Future Steps</h3>
<h4>Register your chosen nickname.</h4>
<a href="http://freenode.net/faq.shtml#userregistration">Freenode</a>
<h4>Check out other clients</h4>
<a href="http://convos.by/">Convos</a>
<a href="https://en.wikipedia.org/wiki/Comparison_of_Internet_Relay_Chat_clients">Wikipedia IRC client comparison</a>
<a href="http://alistapart.com/blog/post/personalizing-git-with-aliases/">For future stuff in Git - Git aliases FTW!</a>