<h2><%= link_to 'Back to IRC', page_path('irc') %> | Future Steps</h2>
<h3>Register your chosen nickname on the server.</h3>
<a target="_blank" href="http://freenode.net/faq.shtml#userregistration">Freenode</a>
<h3>Check out other clients</h3>
<ul>
	<li>
		<a target="_blank" href="http://convos.by/">Convos</a>
	</li>
	<li>
		<a target="_blank" href="www.yaaic.org">YAAIC (Yet Another Android IRC Client)</a> looks fun.
	<li>
		<a target="_blank" href="https://en.wikipedia.org/wiki/Comparison_of_Internet_Relay_Chat_clients">Wikipedia IRC client comparison</a>
	</li>
</ul>
