<h2>Help!</h2>
<p>If you're completely stuck or lost, there are a couple of things you can try to get your bearings.</p>
<ul class="ice">
	<li>
		First, type <span class="code_font"> git status </span> at the command line. Git wants to be helpful and will give you hints.
	</li>
	<li>
		If that doesn't work and you get odd error messages that you don't understand, try searching the errors you get. You're likely not the first person to get those errors and the Internet usually has the answer you're looking for!
	</li>
</ul>
<p>If you're new to the command line and hopelessly lost, find your hope with these commands:</p>
<ul class="ice">
	<li> Use the arrow UP key to bring back that really long command you just typed and noticed the typo <strong>after</strong> you hit enter.
	</li>
	<li>
		Use <span class="code_font"> pwd </span> to find out where you are (it's an acronym for "present working directory")
	</li>
	<li>
		Use <span class="code_font"> ls </span> to list the files and subdirectories in your pwd
	</li>
	<li>
		Use <span class="code_font"> cd .. </span> to move one level up in your directory tree or <span class="code_font"> cd ~ </span> to jump to your computer's home directory
	</li>
</ul>