<h1>Find your tribe</h1>
<h3>Meetups, Conventions, Seattle Hacks and Open Source Calendar</h3>
<p><a href="http://www.meetup.com/find/events/?allMeetups=false&keywords=software&radius=50&userFreeform=Seattle%2C+WA&mcId=z98052&mcName=Redmond%2C+WA&eventFilter=mysugg">Tech Meetups near Seattle</a></p>
<p><a href="https://www.eventbrite.com/directory?q=seattle%20software%20&loc=Redmond%2C%20WA&sort=best&slat=47.674&slng=-122.1215&vp_ne_lat=47.794&vp_ne_lng=-122.0015&vp_sw_lat=47.554&vp_sw_lng=-122.2415&crt=regular&">Eventbrite</a></p>
<p><a href="http://seattlehacks.com/">Seattle Hacks Website</a></p>
<p><a href="http://opensource.com/resources/conferences-and-events-monthly">The Open Source Calendar</a></p>
<p><a href="https://twitter.com">Twitter's</a> great for finding your tribe. Because it's Friday, here's an abbreviated #FF list:</p>
<ul>
	<li>
		<a href="https://twitter.com/lsblakk">@lsblakk</a>, creator of the <a href="https://twitter.com/AscendPr0ject">Ascent Project</a>
	</li>
	<li>
		<a href="https://twitter.com/saronyitbarek">@saronyitbarek</a>, creator of <a href="https://twitter.com/CodeNewbies">Code Newbies</a>
	</li>
	<li>
		<a href="https://twitter.com/brainwane">@brainwane</a>, formerly of Wikimedia and absolute <strong>font</strong> of information, especially about FLOSS</a>
	</li>
	<li>
		<a href="https://twitter.com/TheUtahKate">@TheUtahKate</a>, creator and pilot of <a href="https://www.indiegogo.com/projects/storming-the-castle">Storming the Castle</a>
	</li>
	<li>
		<a href="https://twitter.com/cherimarie">@cherimarie</a>, just 'cause :D
	</li>
</ul>
<p>Do you have something to add? Fork me on <a href="http://github.com/JaimeLynSchatz/zombie-floss">GitHub</a>!</p>