<h2> <%= link_to 'Back to IRC', page_path('irc') %> | Webchat</h2>
<p>Most browsers will allow you to connect to an IRC server using this addesss: <a href="http://webchat.freenode.net/">http://webchat.freenode.net</p>
