<%# add navigation links to this file %>
<li><%= link_to 'About', page_path('about') %></li>
<li><%= link_to 'In Case of Emergency', page_path('ice') %></li>
<li><%= link_to 'Keep In Touch', page_path('contact') %></li>
<li><%= link_to 'Licenses and Credits', page_path('licenses') %></li>
